@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 70px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  background-color: hsl(0, 0%, 100%);
  width: 1000px;
  height: 450px;
  border-radius: 20px;
}

.left {
  margin: 5px 15px;
  padding: 20px;
}
.right {
  margin: 25px 15px;
  padding: 20px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  width: 100%;
  height: 45px;
  background-color: hsl(189, 41%, 97%);
  border-radius: 10px;
  border: none;
}

.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.btn-tip {
  padding: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-tip:hover {
  background-color: hsl(172, 67%, 75%);
  color: hsl(183, 100%, 10%);
}

.btn-custom {
  padding: 10px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btns .btn-custom:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.btns .btn-custom:focus {
  outline: 1px solid hsl(172, 67%, 45%);
}

.btn-reset {
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: hsl(186, 14%, 43%);
  color: hsl(184, 14%, 56%);
  font-size: 24px;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: hsl(172, 67%, 75%);
  color: hsl(183, 100%, 15%);
}

h3 {
  color: hsl(183, 100%, 15%);
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 5px;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}
span {
  color: hsl(184, 14%, 56%);
  font-size: 16px;
}

.input-container {
  position: relative;
}

.input-container input[type="text"].person {
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 16px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

.input-container input[type="text"].dollar {
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

.input-container input[type="text"].dollar:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.input-container input[type="text"].person:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.input-container input[type="text"].dollar:hover {
  outline: 1px solid hsl(172, 67%, 45%);
}
.input-container input[type="text"].person:hover {
  outline: 1px solid hsl(172, 67%, 45%);
}

.money {
  display: flex;
  justify-content: space-between;
}

.money p {
  text-align: right;
  color: hsl(172, 67%, 45%);
  font-size: 36px;
}
